

html, body{
  margin: 0;
}
body{
      background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url('images/Signup images/picture.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      align-items: center;
      justify-content: center;
      background-attachment: fixed;
      

    }

    .container {
      display: flex;
      width: 1000px;
      margin: auto;
      top: 50%; 
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%,-50%);
      position: absolute;
/*      margin-top: 100px;*/



    }

    .box1 {
      width: 50%;
      height: 476px;
      background: url('images/Signup images/picture.jpg') center/cover; 
      font-family: Poppins, sans-serif;
      color: white;

    }

    .box2 {
      width: 50%;
      height: 476px;
      background-color: rgba(255, 255, 255, 0.7);
      text-align: center;
      
      
    }
    .box1 h2{
      margin-top: 50px;
      margin-bottom: 100px;
      font-family: Poppins;
      font-weight: normal;
      font-size: xx-large;
    }

    .box1 p {
       margin-bottom: 60px;
      font-family: Poppins;
      font-weight: normal;
      font-size: large;

    }
    .details {
      color: white;
      text-align: center;
      font-family: Poppins; 
      font-weight: normal;
      font-size: large;
    }

    .box1 button {
      align-items: center;
      background-color:#00FFFF;
      width: 150px ;
      height: 30px;
      border-radius: 20px;
      border: none;
      margin-top: 50px;
      font-size: 19px;
      font-family: Poppins;

    }

    .box2 input{

      margin-top: 20px;
      margin: auto;
    }
    .box2 form input{
      width: 90%;
      height: 45px;
      margin-top: 70px;
      border: none;
      border-radius: 2px;
      -webkit-box-shadow: 0 4px 6px -6px #808080;
      -moz-box-shadow: 0 4px 6px -6px #808080;
      box-shadow: 0 10px 6px -6px #808080;

    }

    .box2 form input, .box2 form label{
      color: grey;
      font-size: medium;
    }

    .box2 form .name{
      width: 40%;
    }

    .box2 form{
      display: flex;
      flex-wrap: wrap;
    }

    .box2 label{
      position: absolute;
      }

    .box2 .First{
      margin-top: 35px;
      margin-left: 25px;
      

    }

    .box2 .last {
      margin-top: 35px;
      margin-left: 273px;
      
    }

    .box2 .email {
      margin-top: 155px;
      margin-left: 25px;
    }

    .box2 .password {
      margin-top: 275px;
      margin-left: 25px;
    }

    .box2 form button{
      align-items: center;
      background-color:#2BE8E8;
      width: 150px ;
      height: 38px;
      border-radius: 20px;
      border: none;
      margin-top: 30px;
      margin-left: 170px;
      font-size: 19px;
      font-family: Poppins;
      -webkit-box-shadow: 0 4px 6px -6px #808080;
      -moz-box-shadow: 0 4px 6px -6px #808080;
      box-shadow: 0 10px 6px -6px #808080;

    }

    .image-inside-textbox {
            position: absolute;
            top: 210px;
            left: 950px;
            transform: translate(-50%, -50%);
            max-width: 30px;
            max-height: 30px;
            border-radius: 5px;
        }

