@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

.width-60 {
	width: 60%;
}

.block {
	display: block;
}

html{
    scroll-behavior: smooth;
}

body {
	width: auto;
	background: linear-gradient(to bottom, #070320, #050D7C, #2B36B5);
	font-size: 1rem;
    line-height: 1.5;
}

/*Navigation*/
header nav a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
  
header nav > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

header {
	position: sticky;
	width: 100%;
	height: 6.5rem;
	background-color: #070320;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	padding: 2rem;
	z-index: 100;
}
  
.website-logo {
	width: 5rem;
	border-radius: 50%;
}
  
.header-nav {
	width: 70%;
	max-width: 37.5rem;
}
  
.header-nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}
  
.header-nav a:hover {
	color: #ee7214;
}
  
.header-nav .contact-us-link {
	background-color: #d80027;
	padding: 0.5em 1.5em;
	border-radius: 0.5em;
}
  
.header-nav .contact-us-link:hover {
	color: #070320;
}
  
.current-page {
	position: relative;
	color: #ee7214;
}
  
.header-nav .current-page::after {
	content: url("../images/current-page-icon.png");
	position: absolute;
	left: -1rem;
	bottom: -1rem;
}

/*Sign In*/

.header-nav .sign-in .fa-solid {
	font-size: 1.5rem;
  }
  
  .sign-in {
	position: relative; 
  }
  
  .hidden-text {
	font-size: 0.8rem;
	width: 4rem;
	border-radius: 0.1rem;
	color: #000;
	background-color: #d9d9d9;
	text-align: center;
	margin-top: 2rem;
	padding: 0.3rem;
  }
  
  .sign-in .hidden-text {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .sign-in:hover .hidden-text {
	display: block; 
  }

/*Profile Icon, Sign Out*//*
  .user-icon .fa-user {
	font-size: 1.7rem;
	width: 2.8rem;
	height: 2.8rem;
	background: linear-gradient(140deg, #fdea3f 12%, #f84931 , #e22663, #aa2792);
	color: #fff;
	text-align: center;
	padding: 0.53rem;
	border-radius: 2rem;
	transition: background-color 0.3s ease-out;
  }
  
  .user-icon .fa-user:hover {
	color: #d9d9d9;
	background: linear-gradient(140deg, #d9b946 12%, #d23527, #c71a51, #8b1b6d); 
  }
  
  .drop-icon .fa-angle-down {
	margin-left: 0.3rem;
	font-size: 1.5rem;
  }
  
  .dropdown-content {
	display: none; 
	position: absolute;
	top: 80%; 
	left: 90%; 
	background-color: #d9d9d9; 
	border: 1px solid #ccc; 
	padding: 0.8rem; 
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
	z-index: 10000;
	color: #000;
	border-radius: 0.5rem;
  }
  
  .dropdown-wrapper.active .dropdown-content {
	display: block;
  }
  
  .drop-icon {
	pointer-events: all; 
	cursor: pointer; 
  }
  
  .dropdown-wrapper.active .fa-angle-down {
	transform: rotate(180deg); 
  }
  
  .sign-out .fa-arrow-right-from-bracket {
	width: 2rem;
	height: 2rem;
	margin-right: 0.8rem;
	font-size: 1.1rem;
	background-color: rgba(58, 55, 55, 0.273);
	text-align: center;
	border-radius: 2rem;
	padding: 0.5rem;
  }*/


/*Main*/
section {
	width: 100%;
    height: auto;
	background-color: #070320;
}

section .Main {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex; 
  	flex-direction: row;
	justify-content: space-between;
}

section .Main .main_left {
	width: calc(50% - 1.875rem);
	margin: 0;
	padding-left: 6.875rem;
}

section .Main .main_left .breadcrumb {
	list-style: none;
	position: relative;
	top: 3.75rem;
}

section .Main .main_left .breadcrumb li {
	margin-right: 0.5rem;
	display: inline-block;
}

section .Main .main_left .breadcrumb a{
	color: #fff;
	text-decoration: none;
	font-size: 0.75rem;
}

section .Main .main_left .breadcrumb a.about{
	color: #d80027;
}

section .Main .main_left .breadcrumb i{
	color: #fff;
	font-size: 0.438rem;
	position: relative;
	top: -0.094rem;
}

section .Main .main_left .main_text h1{
    font-size: 2rem;
	position: relative;
    top: 6.25rem;
	color: #fff;
	line-height: 1.8;
}

section .Main .main_left .intro p{
    width: 28.125rem;
    text-align: left;
    position: relative;
	top: 7.5rem;
    bottom: 7.5rem;
    line-height: 1.8;
	color: #fff;
	letter-spacing: 0.031rem;
	font-size: 0.938rem;
}

section .Main .main_left .main_btn{
    background: linear-gradient(to right, #d80027, #dc7000);
    position: relative;
    bottom: 1.563rem;
    width: 10.625rem;
    cursor: pointer;
    padding: 0.625rem;
	border-radius: 1.563rem;
	top: 9.375rem;
	font-size: 1rem;
}

section .Main .main_left .main_btn a{
    color: #fff;
    text-decoration: none;
	margin: 0.625rem;
}

section .Main .main_left .main_btn i{
    color: #fff;
    transition: 0.3s;
	font-size: 0.938rem;
	position: relative;
}

section .Main .main_left .main_btn:hover i{
    transform: translateX(7px);
}

section .Main .main_right {
	margin: 0;
	padding-left: 1.875rem;
 }

section .Main .main_right .main_pic img{
	width: 100%;
	height: auto;
}

/*why work with us*/
.why {
	width: 100%;
    height: auto;
	padding: 1.25rem 0 9.375rem 0;
	background-color: #070320;
}

.why .heading{
	position: relative;
	margin: 8.125rem 6.875rem 3.5rem 6.875rem;
	font-weight: 600;
	font-size: 1.625rem;
	top: 0.625rem;
	color: #fff;
}

.why .content{
	width: 100%;
    margin: 2rem auto;
    display: flex;
	flex-direction: row;
	top: 3rem;
	justify-content: center;
	flex-wrap: wrap;
}

.why .content .con1, .con2, .con3 {
	background-color: #fff;
	border-radius: 1.25rem;
	padding: 2.2rem;
	font-size: 0.875rem;
	margin: 1rem; 
	width: calc(27.5% - 2rem); 
	min-width: 20rem;
}

.why .content .con1 h6, .con2 h6, .con3 h6 {
	font-size: 1rem;
	font-weight: 500;
	padding: 0.625rem 0.938rem;
	border-radius: 0.625rem;
	color: #000;
}

.why .content .con1 h6{
	background-color: #f6e3fb;
	width: 11.875rem;
}

.why .content .con2 h6{
	background-color: #fbeae3;
	width: 14.688rem;
}

.why .content .con3 h6{
	background-color: #e3fbf2;
	width: 11.875rem;
}

.why .content .con-text {
	width: 100%;
	text-align: left;
	line-height: 2;
	margin-top: 2.188rem;
	font-weight: 400;
	color: #000;
}

/*Background of IT Discover Hub*/
.background {
  width: 100%;
  height: auto;
  background-color: #fff;
}

.background .bg {
  width: 100%; 
  margin: 0 auto;
  display: flex; 
  flex-direction: row; 
  padding-top: 9.375rem;
  justify-content: center;
  flex-wrap: wrap;
}

.background .bg .bgpic img {
  width: 34.375rem;
  height: 100%;
  padding-top: 1.875rem;
}

.background .bg .bgcont {
  padding: 6.875rem 0 0 3rem;
}

.background .bg .bgcont h1 {
  font-weight: 600;
  font-size: 1.875rem;
}

.background .bg .bgcont p {
  font-weight: 500;
  font-size: 1.063rem;
  line-height: 2;
  width: 100%; 
  margin-top: 3.75rem;
}

/*Teamsub*/
.OurTeam {
	width: 100%;
	height: auto;
	margin-top: 3.75rem;
}

/*Our Team*/
.OurTeam .othead {
	color: #fff;
	position: relative;
	margin: 0 6.875rem;
	font-weight: 600;
	font-size: 1.625rem;
	top: 6.25rem;
}

.OurTeam .Main_Teams {
	margin: 1.25rem 0;
}

.OurTeam .Teams {
	width: 85%;
    margin: 2.188rem auto;
    display: flex;
	position: relative;
	top: 6.25rem;
	align-items: center;
	justify-content: center;
}

.OurTeam .Teams .team {
	width: 16.875rem;
    height: 15rem;
    background-color: #1c140f;
    border-radius: 1.25rem;
    padding: 1.875rem 0.625rem;
    margin: 0 1.25rem;
}

.OurTeam .Teams .team .team_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.OurTeam .Teams .team .team_profile img{
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
	margin-bottom: 0.625rem;
}

.OurTeam .Teams .team .team_text{
    text-align: center;
	color: #fff;
}

.OurTeam .Teams .team .team_text .name{
    font-weight: 500;
}

.OurTeam .Teams .team .team_text p{
	font-size: 0.75rem;
	font-weight: 300;
}

/*Subs*/

.subscribe-section {
	max-width: 100rem;
	padding: 0 10% 5rem;
	margin-top: 15rem;
	color: #fff;
}

.subscribe-section p {
	line-height: 2;
	margin-top: 0.5rem;
}
  
.subscribe-section h2, .subscribe-div-text .head {
	font-size: 1.9rem;
	font-weight: 500;
}
  
.subscribe-div {
	background-color: white;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 3rem;
	border-radius: 1.25rem;
	margin-top: 2rem;
}
  
.subscribe-div-text {
	max-width: 50%;
}
  
.subscription-form {
	background-color: black;
	padding: 0.313rem;
	border-radius: 0.5em;
}
  
.subscription-form input[type="email"] {
	min-width: 11ch;
	max-width: 23ch;
	background-color: black;
	color: white;
	padding: 0.4em 0.5em 0.4em 1em;
	border: none;
	outline: none;
}
  
.subscription-form .submit-button {
	background-color: #d80027;
	color: black;
	padding: 0.5em 1em;
	border-radius: 0.4em;
	border: none;
	cursor: pointer;
}
  
.subscription-form > .submit-button:hover {
	color: white;
}

  
/*footer*/

footer {
	background-color: white;
	color: black;
	padding: 3rem 0 1.5rem;
}
  
.footer-navs-and-information {
	max-width: 1600px;
	display: flex;
	justify-content: space-between;
	gap: 3rem;
	margin: 0 auto;
	padding: 0 4rem;
}

.ITD p {
	margin: 0.8rem 0;
}
  
.about-us-div,
.soc-meds-nav {
	min-width: max-content;
}
  
.about-us-div nav {
	margin-top: 1rem;
	line-height: 2;
}

.about-us-div nav a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

.about-us-div nav ul{
	list-style-type: none;
  	padding: 0;
 	 margin: 0;
}

.contact-us-div p {
	margin-bottom: 1rem;
}

.contact-us-div .email {
	display: flex;
  align-items: center;
}

.contact-us-div .email i {
	margin-top: -0.95rem;
  	margin-right: 0.5rem;
}
  
.soc-meds-nav {
	height: 100%;
	display: flex;
	gap: 0.938rem;
	align-items: flex-end;
}
  
.soc-meds-nav .fa-brands{
	width: 2.188rem;
	height: 2.188rem;
	border-radius: 50%;
	background-color: #000;
	  color: #fff;
	padding: 0.781rem;
	font-size: 0.75rem;
}
  
.line-separator {
	border-bottom: 0.063rem solid black;
	margin: 2rem 0;
}
  
.copyright {
	font-size: 0.75rem;
	text-align: center;
}

/*for small screen laptop
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
	
	 /* Navigation     need to change
    header nav {
		width: auto;
		height: auto;
    }

    header nav ul li {
        margin: 10px 30px;
    }
	
	header nav ul li a {
        font-size: 14px;
    }

    header nav .logo a {
        font-size: 28px;
		word-spacing: 1.5px;
    }

    header nav a.About::before {
        right: 38px;
    }
	
	/* Main 
	section {
		width: auto;
	}
	
	section .Main {
		grid-template-columns: 1fr 1fr;
	}
	
    section .Main .main_left {
        padding-left: 100px;
    }
	
	section .Main .main_left .breadcrumb li a{
        font-size: 10px;
    }

    section .Main .main_left .main_text h1 {
        top: 210px;
		font-size: 27px;
    }

    section .Main .main_left .intro p {
        top: 230px;
		font-size: 13px;
    }

    section .Main .main_left .main_btn {
        top: 260px;
		font-size: 13px;
		width: 153px;
		padding: 10px;
    }

	section .Main .main_left .main_btn i{
		font-size: 16px;
    }
	
    section .Main .main_right {
		padding-left: 0;
	}
	
	section .Main .main_right .main_pic img{
		width: auto;
    }
	
    /* Why work with us 
	.why {
		width: auto;
	}
    .why .heading {
        font-size: 24px;
        margin: 130px 0 70px 100px;
    }

    .why .content {
		width: auto;
        top: 60px;
		column-gap: 20px;
		margin: 0 100px;
    }

    .why .content .con1,
    .why .content .con2,
    .why .content .con3 {
        width: 325px;
		height: 300px;
        margin-bottom: 20px;
		padding: 30px;
    }

    .why .content .con1 h6 {
		font-size: 14px;
		width: 170px;
	}
	
    .why .content .con2 h6 {
        font-size: 14px;
		width: 210px;
    }
	
    .why .content .con3 h6 {
		font-size: 14px;
		width: 170px;
	}

    .why .content .con1 p,
    .why .content .con2 p,
    .why .content .con3 p {
		margin-top: 25px;
        font-size: 12px;
    }

    /* Background 
    .background .bg {
        grid-template-columns: 1fr 1fr;
        padding-top: 90px;
        width: auto;
		overflow: hidden;
		margin-left: 100px;
    }

    .background .bg .bgpic img {
        width: 450px;
    }

    .background .bg .bgcont {
        padding: 100px 0 0 90px;
		width: auto;
    }

    .background .bg .bgcont h1 {
        font-size: 24px;
    }

    .background .bg .bgcont p {
        font-size: 13.5px;
    }
	
	/* Our Team 
    .OurTeam .othead {
        top: 50px;
		font-size: 24px;
		margin-left: 100px;
    }

	.OurTeam .Main_Teams {
		margin-bottom: 15px;
		margin: 0 100px;
	}
	
    .OurTeam .Teams {
        top: 50px;
        width: auto;
    }

    .OurTeam .Teams .team {
        width: 230px;
		height: 200px;
		margin: 0 10px;
    }

	.OurTeam .Teams .team .team_profile img{
		width: 100px;
		height: 100px;
	}

	.OurTeam .Teams .team .team_text .name{
		font-size: 16px;
	}

	.OurTeam .Teams .team .team_text p{
		font-size: 11px;
	}
	
	/*Need to change
	.TeamSub .Subs {
		width: auto;
		margin-left: 100px;
	}

    .TeamSub .Subs .Subcont h2 {
        margin: 50px 0 15px 0;
		font-size: 24px;
    }

	.TeamSub .Subs .Subcont p {
		font-size: 13px;
    }
	
	.TeamSub .Subs .StayL {
        padding: 50px;
        bottom: 50px;
    }
	
	.TeamSub .Subs .StayL .staycont h2 {
		font-size: 24px;
	}
	
	.TeamSub .Subs .StayL .staycont p {
		font-size: 13px;
	}
	
	.TeamSub .Subs .StayL .emailbar {
		padding: 5px auto;
		height: 43.5px;
	}
	
	.TeamSub .Subs .StayL .emailbar input {
		width: 230px;
		font-size: 12px;
	} 
	
	.TeamSub .Subs .StayL .emailbar button{
		font-size: 12px;
	}
	
	 /* Footer */ /*Need to change
	footer {
		width: auto;
		height: auto;
	}
	 
    footer .footer_main {
		width: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
		margin: 50px 0 40px 100px;
    }
	
	footer .footer_main .footer_tag2{
		text-align: left;
		padding: 0 80px;
	}
	
	footer .footer_main .footer_tag h2{
		font-size: 20px;
		margin-bottom: 18px;
	}

	footer .footer_main .footer_tag h3, .footer_tag2 h3 {
		font-size: 14px;
		margin-bottom: 18px;
	}
	
	footer .footer_main .footer_tag p, .footer_tag2 p {
		font-size: 12px;
		line-height: 1.5;
	}

	footer .footer_main .footer_tag .icon i{
		width: 30px;
		height: 30px;
		margin: 5px;
		margin-top: 90px;
		font-size: 14px;
		
	}

	footer .footer_main .footer_tag .icon .bx {
		padding: 8px;
	}
	
	footer .end {
		font-size: 12px;
	}
}
