/* CSS DEFAULTS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
header,
main,
footer {
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:not(:first-child) {
  margin-top: 1rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* GENERIC CSS */

.width-80 {
  width: 80%;
}

.width-60 {
  width: 60%;
}

.relative-for-design {
  position: relative;
}

.block {
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.with-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.font-size-large {
  font-size: 4rem;
  font-weight: 700;
}

.font-size-medium {
  font-size: 2.5rem;
  font-weight: 700;
}

.text-align-center {
  text-align: center;
}

.flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MAIN CSS FLOW */

html {
  font-family: Poppins, Arial, Helvetica, Tahoma;
  color: white;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(150deg, #070320 60%, #170c57);
  line-height: 1.5;
  padding: 0;
}

header {
  position: sticky;
  width: 100%;
  height: 6.5rem;
  background-color: #070320;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 2rem;
  z-index: 100;
}

.website-logo {
  margin: 0.5rem 0;
  width: 5rem;
  border-radius: 50%;
}

.header-nav {
  width: 70%;
  max-width: 37.5rem;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav a:hover {
  color: #ee7214;
}

.header-nav .contact-us-link {
  background-color: #d80027;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
}

.header-nav .contact-us-link:hover {
  color: #070320;
}

.current-page {
  position: relative;
  color: #ee7214;
}

.header-nav .current-page::after {
  content: url("../images/current-page-icon.png");
  position: absolute;
  left: -1rem;
  bottom: -1rem;
}

/*Sign In*/

.header-nav .sign-in .fa-solid {
  font-size: 1.5rem;
}

.sign-in {
  position: relative;
}

.hidden-text {
  font-size: 0.8rem;
  width: 4rem;
  border-radius: 0.1rem;
  color: #000;
  background-color: #d9d9d9;
  text-align: center;
  margin-top: 2rem;
  padding: 0.3rem;
}

.sign-in .hidden-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-in:hover .hidden-text {
  display: block;
}

/*Profile Icon, Sign Out*/ /*
.user-icon .fa-user {
  font-size: 1.7rem;
  width: 2.8rem;
  height: 2.8rem;
  background: linear-gradient(140deg, #fdea3f 12%, #f84931 , #e22663, #aa2792);
  color: #fff;
  text-align: center;
  padding: 0.53rem;
  border-radius: 2rem;
  transition: background-color 0.3s ease-out;
}

.user-icon .fa-user:hover {
  color: #d9d9d9;
  background: linear-gradient(140deg, #d9b946 12%, #d23527, #c71a51, #8b1b6d); 
}

.drop-icon .fa-angle-down {
  margin-left: 0.3rem;
  font-size: 1.5rem;
}

.dropdown-content {
  display: none; 
  position: absolute;
  top: 80%; 
  left: 90%; 
  background-color: #d9d9d9; 
  border: 1px solid #ccc; 
  padding: 0.8rem; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 10000;
  color: #000;
  border-radius: 0.5rem;
}

.dropdown-wrapper.active .dropdown-content {
  display: block;
}

.drop-icon {
  pointer-events: all; 
  cursor: pointer; 
}

.dropdown-wrapper.active .fa-angle-down {
  transform: rotate(180deg); 
}

.sign-out .fa-arrow-right-from-bracket {
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
  font-size: 1.1rem;
  background-color: rgba(58, 55, 55, 0.273);
  text-align: center;
  border-radius: 2rem;
  padding: 0.5rem;
}*/

main {
  max-width: 100rem;
  margin-bottom: 5rem;
}

main > section,
footer > section {
  margin-left: auto;
  margin-right: auto;
}

main > section:not(:last-child) {
  margin-bottom: 6rem;
}

.primary-section {
  background-image: url("../images/bg2.png");
  padding: 4rem 40% 4rem 6rem;
}

.primary-section p {
  line-height: 2;
  word-spacing: 0.094rem;
  letter-spacing: 0.031rem;
}

.primary-section .more-details-link {
  background: linear-gradient(90deg, #d80027, #ee7214);
  border-radius: 4em;
  padding: 1em 1.5em;
  margin-top: 1.5rem;
}

.primary-section .more-details-link:hover {
  color: #070320;
}

.section-popular-technologies > .flex-space-between-center {
  padding: 0 3rem;
  margin-bottom: 1.5rem;
}

.see-all-link {
  padding: 0.5em 1em;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 0.5em;
}

.see-all-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.popular-technologies-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.popular-technologies-item img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1.25rem;
  margin-bottom: 1rem;
}

.popular-technologies-bs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wishlist-button {
  display: inline-block;
  padding: 0.5rem 1.8rem;
  border: none;
  border-radius: 4rem;
  background: linear-gradient(90deg, #d80027, #ee7214);
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
}

.wishlist-button:hover {
  background: #ee7214; /* Reverse gradient */
  transition: background 0.1s linear;
}

.wishlist-button:active {
  background-color: #ee7214;
  transform: scale(0.95);
  box-shadow: 0 0 0.313rem rgba(0, 0, 0, 0.3);
}

.third-section > .relative-for-design {
  margin-top: 2rem;
}

.third-section img {
  width: 100%;
  opacity: 0.7;
}

.third-section > .relative-for-design::before {
  content: url("../images/design-icon-1.png");
  position: absolute;
  overflow: hidden;
  top: -4.5rem;
  right: 3.8rem;
  z-index: 1;
}

.catalog-gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 2rem;
}

.grid-col-span-3 {
  grid-column: span 3;
}

.grid-col-span-4 {
  grid-column: span 4;
}

.grid-col-span-5 {
  grid-column: span 5;
}

.catalog-gallery img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1.25rem;
}

.section-catalog-gallery > .see-all-link {
  margin-top: 3rem;
}

.subscribe-section {
  max-width: 100rem;
  padding: 0 10% 5rem;
  margin-top: 10rem;
}

.subscribe-section p {
  line-height: 2;
  margin-top: 0.5rem;
}

.subscribe-section h2,
.subscribe-div-text .head {
  font-size: 1.9rem;
  font-weight: 500;
}

.subscribe-div {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  border-radius: 1.25rem;
  margin-top: 2rem;
}

.subscribe-div-text {
  max-width: 50%;
}

.subscription-form {
  background-color: black;
  padding: 0.313rem;
  border-radius: 0.5em;
}

.subscription-form input[type="email"] {
  min-width: 11ch;
  max-width: 23ch;
  background-color: black;
  color: white;
  padding: 0.4em 0.5em 0.4em 1em;
  border: none;
  outline: none;
}

.subscription-form .submit-button {
  background-color: #d80027;
  color: black;
  padding: 0.5em 1em;
  border-radius: 0.4em;
  border: none;
  cursor: pointer;
}

.subscription-form > .submit-button:hover {
  color: white;
}

.footer-section {
  background-color: white;
  color: black;
  padding: 3rem 0 1.5rem;
}

.footer-navs-and-information {
  max-width: 100rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin: 0 auto;
  padding: 0 4rem;
}

.about-us-div,
.soc-meds-nav {
  min-width: max-content;
}

.about-us-div nav {
  margin-top: 1rem;
  line-height: 2;
}

.contact-us-div .email {
  display: flex;
  align-items: center;
}

.contact-us-div .email i {
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.soc-meds-nav {
  height: 100%;
  display: flex;
  gap: 15px;
  align-items: flex-end;
}

.soc-meds-nav .fa-brands {
  width: 2.188rem;
  height: 2.188rem;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  padding: 0.781rem;
  font-size: 0.75rem;
}

.line-separator {
  border-bottom: 0.063rem solid black;
  margin: 2rem 0;
}

.copyright {
  font-size: 0.75rem;
}
