@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
header,
footer {
  margin: 0 auto;
  padding: 0;
}

body {
  width: auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #09032e 40%, #0c044b, #12078c);
  color: #fff;
}

footer > section {
  margin-left: auto;
  margin-right: auto;
}

.email {
  display: flex;
  align-items: center;
}
.email i {
  margin-right: 0.7rem;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  position: sticky;
  width: 100%;
  height: auto;
  background-color: #09032e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  top: 0;
  z-index: 100;
}
    
.website-logo {
  width: 5rem;
  border-radius: 50%;
}
    
.header-nav {
  width: 70%;
  max-width: 37.5rem;
}
    
.header-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
    
.header-nav a:hover {
  color: #ee7214;
}
    
.header-nav .contact-us{
  background-color: #d80027;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
}
    
.header-nav .contact-us:hover {
  color: #070320;
}
    
.contact-us {
  color: #FFFFFF;
}


.user-icon img {
  width: 4rem;
  height: 4rem;
  padding: 0.53rem;
  border-radius: 2rem;
  transition: opacity 0.3s ease-out;
}

.user-icon img:hover {
  opacity: 0.8;
}

.drop-icon .fa-angle-down {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  position: relative;
  top: -1rem;
}

.dropdown-content {
  display: none; 
  position: absolute;
  top: 80%; 
  left: 90%; 
  background-color: #d9d9d9; 
  border: 1px solid #ccc; 
  padding: 0.8rem; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 10000;
  color: #000;
  border-radius: 0.5rem;
}

.dropdown-wrapper.active .dropdown-content {
  display: block;
}

.drop-icon {
  pointer-events: all; 
  cursor: pointer; 
}

.dropdown-wrapper.active .fa-angle-down {
  transform: rotate(180deg); 
}

.sign-out .fa-arrow-right-from-bracket {
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
  font-size: 1.1rem;
  background-color: rgba(58, 55, 55, 0.273);
  text-align: center;
  border-radius: 2rem;
  padding: 0.5rem;
}

/*Profile content*/
.container {
 width: 100%;
 height: 125vh;
 display: flex;
 margin: 0;
 padding: 0;
 gap: 2%;
}

.left-aside {
  flex: 1; 
  background: #D9D9D9;
  padding-bottom: 1rem;
}

.Edit-Profile {
  display: flex; 
  flex-direction: row;
  gap: 10px;
  align-items: center;
  position: relative;
  top: 2rem;
}

.profile-image1 {
  padding-left: 1.2rem;
}

.profile-image1 img {
  width: 150px; 
  height: 150px;
}

.profile-info h3 {
  color: #B29595;
}

.profile-info .user-name {
  color: rgba(8, 8, 8, 0.66);
}

.aside-nav {
  margin: 0;
  padding: 0;
  top: 3rem;
  position: relative;
}

.aside-nav ul {
  list-style: none;
  padding: 0;
}

.aside-nav ul li {
  width: 100%;
  display: flex;
  justify-content: left;
  line-height: 1.7;
  margin: 20px 0;
}

.aside-nav ul li .current {
  background-color: #2515E3;
  width: 100%;
  height: 100%;
}

.aside-nav ul li span{
  color: rgba(8, 8, 8, 0.66);
  font-size: 2.2rem;
  font-weight: 700;
}

.aside-nav ul li a{
  text-decoration: none;
  padding-left: 2.7rem;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-out;
}

.aside-nav ul li a:hover{
  background-color: #2615e34e;
}

.aside-nav img {
  width: 30px;
  height: 30px;
  opacity: 0.7;
  position: relative;
  top: 3px;
  margin-right: 15px;
}

.aside-nav .current ~ .main-content .general-details {
  display: block; 
}

.aside-nav .current ~ .main-content .wishlist {
  display: block; 
}

.main-content > div {
  display: none; /* Hide both sections initially */
}

.main-content {
  flex: 2;
  background: #D9D9D9;
  padding-bottom: 1rem;
}

.general-details {
  width: 100%;
  padding: 0 80px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.update-profile-pic {
  display: flex; 
  flex-direction: row;
  gap: 60px;
  align-items: center;
  position: relative;
  top: 2rem;
  justify-content: center;
}

.update-profile-pic img {
  width: 200px;
  height: 200px;
}

.update-profile-pic button {
  width: 235px;
  height: 50px;
  border: none;
  color: white;
  font-size: 1.1rem;
  background: linear-gradient(92.48deg, #D80027 2.08%, #FB9E3C 117.25%);
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.update-profile-pic button:hover {
  background: linear-gradient(92.48deg, #C50023 2.08%, #E58535 117.25%);
}

.update-user-details {
  display: flex;
  justify-content: center;
}

.update-user-details form input {
  width: 500px;
  height: 40px;
  border: none;
  font-size: 1rem;
  padding: 5px;
  position: relative;
  -webkit-box-shadow: 0 8px 8px -8px #000000;
    -moz-box-shadow: 0 8px 8px -8px #000000;
    box-shadow: 0 9px 8px -8px #000000;
}

.update-user-details .form-group {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
  top: 50px;
  padding-left: 20px;
}

.update-user-details .edit-name {
  display: flex; 
  flex-direction: row;
  gap: 10px;
}
.update-user-details .edit-name input{
  width: 235px;
}

.update-user-details form label {
  display: block;
  margin-top: 30px;
  font-weight: bolder;
  font-size: 1.4rem;
  color: rgba(8, 8, 8, 0.66);
}

.update-user-details form button {
  position: relative;
  width: 120px;
  height: 40px;
  top: 100px;
  left: 130px;
  margin-right: 30px;
  border: none;
  color: white;
  font-size: 1.1rem;
  background: linear-gradient(92.48deg, #D80027 2.08%, #FB9E3C 117.25%);
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.update-user-details button:hover {
  background: #FB9E3C;
  color: #070320;
}

.form-group .password-container {
  position: relative;
}

.show-password-button {
  position: absolute;
  right: 10px;
  top: 85px;
  transform: translateY(-50%);
  cursor: pointer;
  color:  rgba(8, 8, 8, 0.66);
}

.wishlist {
  width: 100%;
  padding: 0 80px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.wishlist-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 3rem;
}

.wishlist-head img {
  width: 100px;
  height: auto;
}

.wishlist-head span {
  color: #202020;
  font-size: 2.2rem;
  font-weight: 700;
}

.user-wishlist {
  width: 100%;
  max-height: 500px; 
  overflow-y: auto; 
  padding: 10px; 
  position: relative;
  top: 4rem;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

.Wishlist-item {
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 1.5fr 3fr 1fr;
  align-items: center;
  grid-gap: 10px;
  border-bottom: 1px solid #080808a8;
  padding: 10px;
  position: relative;
  margin-top: 2rem;
}

.Wishlist-item img{
  width: 50px;
  height: auto;
  margin-bottom: 20px;
}

.Wishlist-item span {
  color: #202020;
  font-size: 1.2rem;
  font-weight: 600;
}

.Wishlist-item span.model{
  text-align: center;
}

.Wishlist-item i {
  color: #202020;
  cursor: pointer;
  text-align: right;
}

.Wishlist-item i:hover{
  color: #D80027;
}


  /*footer*/
    .footer-section {
      background-color: white;
      color: black;
      padding: 3rem 0 1.5rem;
      margin: auto;
    }
    
    .footer-navs-and-information {
      max-width: 100rem;
      display: flex;
      justify-content: space-between;
      gap: 3rem;
      margin: 0 auto;
      padding: 0 4rem;
    }
    
    .about-us-div,
    .soc-meds-nav {
      min-width: max-content;
    }
    
    .about-us-div nav {
      margin-top: 1rem;
      line-height: 2;
    }
    
    .soc-meds-nav {
      height: 100%;
      display: flex;
      gap: 0.938rem;
      align-items: flex-end;
    }
    
    .soc-meds-nav .fa-brands{
      width: 2.188rem;
      height: 2.188rem;
      border-radius: 50%;
      background-color: #000;
      color: #fff;
      padding: 0.781rem;
      font-size: 0.75rem;
    }
    
    .line-separator {
      border-bottom: 0.063rem solid black;
      margin: 2rem 0;
    }
    
    .copyright {
      font-size: 0.75rem;
      text-align: center;
    }