@import url("https://fonts.googleapis.com/css2?family=Inika&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inika", serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../images/sign-up-bg.jpg);
  backdrop-filter: blur(5px);
  background-position: center;
  background-size: cover;
}

.container {
  width: 75%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* left container */
.container .left-container {
  position: relative;
  text-align: center;
  color: #ffffff;
  background-image: url(../images/sign-up-bg.jpg);
  background-position: center;
  background-size: cover;
}

.left-container .text1,
.text2,
.text3 {
  margin: 4.5rem;
}

.text1 {
  font-size: 1.5em;
}

.text2,
.text3 {
  font-size: 1.2em;
}

.left-container a {
  background-color: #2be8e8;
  padding: 0.5rem 3rem;
  border-radius: 20px;
  text-decoration: none;
  color: #000000;
}

/* right container */
.container .right-container {
  padding: 0 3rem;
  background-color: #ffffff;
}

.name-inputs {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  margin-top: 5rem;
}

.name-inputs,
.email-inputs,
.password-inputs {
  padding: 1rem 0;
}

.input-group {
  flex-basis: 50%;
}

.emailAddress,
.password {
  width: 98%;
}

.input-with-icons {
  position: relative;
}

/* .input-with-icons input{
    color: #FFFFFF;
    background-color: #FFFFFF;
} */

.input-with-icons i {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.right-container input {
  height: 5vh;
}

.signIn {
  background-color: #2be8e8;
  padding: 0.5rem 3rem;
  border-radius: 20px;
  text-decoration: none;
  color: #000000;
}
